:root
{	
	--main-bg: #E4E2E0;
	--contrast: #4AA564;

	--black: #212121;
	--white: #F5F5F5;
	--grey: #9E9E9E;
	--red: #D32F2F;
}

@font-face 
{
    font-family: fuente;
    src: url(../fonts/fuente.ttf);
}

*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: var(--main-bg);
	font-family: fuente, Arial, Helvetica, sans-serif;
	height: 2000vh;
}

/* PRIMERO PENSADO PARA DISPOSITIVOS MÓVILES */

/* ========== Header ========== */

header
{
	background-color: var(--black);
	color: var(--white);

	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

nav
{
	background-color: var(--black);
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	position: -webkit-sticky;
	position: sticky;
	top: 0;

	margin-bottom: 3rem;
}

#logo /* Icono del header */
{
	width: 100%;
	margin: 1rem;
}

nav ul
{
	list-style: none;
	/* width: 50%;  Ponerlo en la mediaQuery de tablets */

	display: flex;
	justify-content: space-between;
}

nav ul li
{
	margin: 1rem 0.5rem;
}

nav a
{
	text-decoration: none;
	background-color: var(--contrast);
	color: var(--white);

	font-size: 0.85rem;
	
	padding: 0.5rem;
	border-radius: 20px;
}

/* ========== Main ========== */
main
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	width: 100%;
}

.product
{
	background-color: white;

	display: flex;
	flex-direction: column;

	width: 80%;
	padding: 1rem;
	margin-top: 1rem;
}

.product img
{
	align-self: center;
	width: 3rem;
}

.product .price
{
	font-size: 1.4rem;

	margin-top: 1rem;
}

.product .unit
{
	font-size: 0.8rem;
	color: var(--grey);
}

.product .name
{
	font-size: 1rem;

	margin-top: 1rem;
}

.product form
{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: -1rem;
	margin-top: 1rem;
	width: 100% + 2rem;
}

.product form input[type=number]
{
	background-color: var(--main-bg);
	text-align: center;

	width: 30%;

	
	padding: 0.5rem;
	border-radius: 50px;
	border: var(--grey) solid 1px;
}

.product form input[type=submit]
{
	background-color: var(--contrast);
	color: var(--white);

	width: 100%;

	margin-top: 1rem;
	padding: 1rem;
	border: 0;
}

.product-discount .price
{
	text-decoration: line-through;
}

.product-discount .discount
{
	color: var(--red);

	position: relative;
	z-index: 0;
	bottom: 1.7rem;
	left: 6rem

	
}

/* ========== Footer ========== */

#subir  /* enlace con enlace para subir */
{
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--white);

	width: min-content;

	padding: 0.5rem;
	margin: 0;
	border-radius: 50px;

	position: fixed;
	z-index: 2;
	bottom: 0;
	right: 0;
}

#subir a
{
	text-decoration: none;
	color: var(--white);
}

#subir a span
{
	display: none;
	position: sticky;
	left: 0;
}

footer
{
	background-color: var(--black);
	color: var(--white);

	text-align: center;

	margin-top: 3rem;

	padding: 1rem 0;	
}



