:root
{
	--main-bg-1: #000000;
	--main-bg-2: #101010;
	--main-bg-3: #1E1E1E;
	--main-bg-section: #171717;
	--main-text-1: #E7E7E7;
	--main-text-2: #B2B2B2;
	--main-text-3: #FFFFFF;
}

@font-face{
	font-family: "spotify";
	src: url("../webfonts/spotify.otf");
  }

*
{
	margin: 0;
	padding: 0;
	font-family: spotify, "Times New Roman", Times, serif;;
	/* color: var(--main-text-1); */
}

body
{	
}

body::-webkit-scrollbar {
	-webkit-appearance: none;
}

body::-webkit-scrollbar:vertical
{
	width: 0.6rem;
	position: relative;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
	display: none;
} 

body::-webkit-scrollbar:horizontal {
	height: 10px;
}

body::-webkit-scrollbar-thumb {
	background-color: #797979;
	border: 0;
}

/* ================ ASIDE ================ */

aside
{
	position: sticky;
	top: 0;

	display: flex;
	flex-direction: column;
	height: 100vh;
}

#logotype
{
	color: var(--main-text-1);
	display: flex;
	align-items: center;
}

#logotype i
{
	margin: 1.3rem 0.5rem 1.3rem 1.3rem;
}

#logotype h1
{
	font-size: 1.5rem;
}

aside article ul
{
	list-style: none;

	display: flex;
	flex-direction: column;
}

aside article ul a
{
	color: var(--main-text-2);

	text-decoration: none;
	margin: 0.8rem 1.6rem;

	transition: 0.5s;
}

#select-focus /* aside article ul a | when option is selected */

{
	color: var(--main-text-1);

	transition: 0.5s;
}

aside article ul a:hover
{
	color: var(--main-text-3);
	
	transition: 0.5s;
}

aside article ul a li
{
	display: flex;
	align-items: center;
}

aside article ul a li i
{
	width: 20%;
}

aside article ul a li h3
{
	font-size: 0.8rem;
}


#aside-medium
{
	margin-top: 1.8rem;
}

#aside-down
{
	display: flex;
	flex-direction: column;
	justify-content: end;

	height: 56vh;
}

#aside-down ul
{
	margin-bottom: 5rem;
}

aside #aside-down ul a
{
	color: var(--main-text-2);
	margin: 0.2rem 1.6rem;
}

aside #aside-down ul a:hover
{
	text-decoration: underline;
}

#aside-down h4
{
	font-size: 0.6rem;
}

/* ================ NAV ================ */

nav
{
	position: sticky;
	top: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-left: 1rem;
}

nav .button-row
{
	text-decoration: none;
	color: var(--main-text-2);
	background-color: var(--main-bg-1);

	font-size: 1.7rem;
	padding: 0.2rem 0.7rem;
	margin-left: 0.8rem;
	border-radius: 50px;	
}

nav .button-row:hover
{
	cursor: not-allowed;
}


/* Buttons in the right */

nav .button-sesion
{
	display: inline-block;
	text-decoration: none;
	font-size: 0.75rem;


	border-radius: 3rem;
	padding: 0.7rem 2.2rem;
	margin-right: 1.3rem;

	transition: 0.1s;
}

nav .button-sesion:hover
{
	transform: scale(1.05);
	transition: 0.1s;
}

.register
{
	color: var(--main-text-2);
}

.login
{
	color: var(--main-bg-2);
	background-color: var(--main-text-3);
}

/* ================ MAIN ================ */


main article
{
	padding: 1.8rem 1.8rem 0 1.8rem;
	display: flex;
	flex-wrap: wrap;
	background-color: var(--main-bg-3);
}

main article a
{
	text-decoration: none;
	color: var(--main-text-1);

	width: 91%;
}

main article .ver-todo
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;

	color: var(--main-text-2);
}

main article .ver-todo h2
{
	font-size: 0.8rem;
}

main article a:hover
{
	text-decoration: underline;
}

main article section
{
	background-color: var(--main-bg-section);

	width: 14.6%;
	margin: 1rem 1.5rem 1.5rem 0;
	padding: 1rem;

	border-radius: 5px;
}

main article section img
{
	width: 100%;

	border-radius: 5px;
}

main article section h3
{
	color: var(--main-text-1);
	font-size: 1rem;

	margin: 1rem 0 0.5rem 0;
}

main article p
{
	color: var(--main-text-2);
	font-size: 0.85rem;
	width: 100%;
}







header
{
	grid-area: header;
}

aside
{
	grid-area: aside;
	background-color: var(--main-bg-1);
}

nav
{
	grid-area: nav;
	background-color: var(--main-bg-2);
}

main
{
	grid-area: main;
	background-color: var(--main-bg-3);
	width: 100%;
}

body
{
	display: grid;
	grid-template-columns: 15rem 1fr;
	grid-template-rows: 3.8rem 56vh auto;
	grid-template-areas:
	"aside nav"
	"aside main"
	". main"
}