/* Ajustes preferenciales */
#wrapper
{
    width: 70%;
}

.navBar a {
    width: 12vw;
    font-size: 2vw;
}

@media (max-width: 1024px)
{    
    header {
        text-align: center;
    }
    
    header img {
        margin: 0;
    }

    article[data-type=cols]
    {
        display: flex;
        flex-wrap: wrap;

        width: 100%;
        
    }

    article[data-type=cols] section
    {
        min-width: 46%;
        margin: 2%;
    }

    .gallery li {
        display:inline-block;
        padding:0 1em 2em 0;
        width: 48%;
    }
}

@media (max-width: 768px)
{
    header
    {
        width: 40%;
        background-color: yellow;
    }
        header img {
            width: 100%;
        }

    .navBar
    {
        background-color: red;
        position: absolute;
        top: 1vw;
        right: 15vw;
        width: 30vw;
    }

    section[data-type=slider] img 
    {
        max-width: 80vw;
    }
}

