:root 
{
    --fondoOscuro: #9EA123;
    --fondoClaro: #aeae2d;
    --textoBlanco: white;
    --numeroSeleccionado: #35360B;

}

*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: url("../images/fondo_encabezado.png");
    background-repeat: repeat-x;
    background-position-x: center;
}

#contenidoCabeza
{
    border-left: solid 1px;
    border-right: solid 1px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

header ul
{
    display: flex;
    justify-content: flex-end;

    width: 100%;
    padding-right: 1rem;
}

header li 
{
    list-style: none;
    
    padding: 1vw;
    margin-left: 0.4rem;
    background-color: var(--fondoClaro);
}

/* ------------------------------------------------ */

nav
{
    background-color: var(--fondoOscuro);
}

nav li 
{
    display: inline-block;
    color: var(--textoBlanco);

    padding: 1vw;
}

#navIzquierda
{
    display: inline-block;
}

body > nav ul > a li
{
    float: right;
}

body > nav li:hover
{
    background-color: var(--fondoClaro);
}

/* ----------------------------------------------- */

aside
{
    padding: 4vw;
}

#principal
{
    background-image: url("../images/hojarasca.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    height: 440px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

blockquote
{
    background-color: rgba(255, 255, 255, 0.5);
    
    position: absolute;
    top: 17rem;
    left: 50vw;

    padding: 1vw;
    width: 30vw;
}

main nav
{
    display: flex;
}

main ol
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main > li
{
    color: var(--textoBlanco);
}

main li:hover
{
    background-color: var(--fondoClaro);
}

.numeroSeleccionado
{
    color: var(--numeroSeleccionado);
}

#bienvenida
{
    margin-left: 5vw;
    margin-right: 5vw;
}

/* ------------------------------------------------------- */

footer
{
    background-color: var(--fondoClaro);
    border-top: solid 40px var(--fondoOscuro);

    margin-top: 3%;
    padding: 2%;
    text-align: center;
    line-height: 1.5rem;
}

footer a
{
    text-decoration: none;
    color: black;
}

footer a:hover
{
    color: var(--numeroSeleccionado);
}

#izquierdaPie ul
{
    list-style: none;
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
}

#imagenPie
{
    height: 70px;
    position: relative;
    top: -67px;
}

#derechaPie
{
    text-align: start;
    padding-left: 4%;
}



/* ------------------------------------------------------- */

body > header 
{
    grid-area: cabecera;
}

body > nav
{
    grid-area: navCabecera
}

body > main 
{
    grid-area: contenido;
}

body > footer 
{
    grid-area: pie;
}

header > #orbela
{
    grid-area: contenidoCabecera
}

body > nav > ul
{
    grid-area: contenidoNav;
}

main > aside
{
    grid-area: descripcion;
}

main > #principal
{
    grid-area: principal;
}

main > #bienvenida
{
    grid-area: bienvenida;
}

footer > #izquierdaPie
{
    grid-area: izquierdaPie;
}

footer > #imagenPie
{
    grid-area: imagenPie;
}

footer > #derechaPie
{
    grid-area: derechaPie;
}



body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    /*column-gap: var(--margen);
    row-gap: var(--margen);*/

    grid-template-areas:
        "cabecera"
        "navCabecera"
        "contenido"
        "pie";
}

header {
    display: grid;
    grid-template-columns: 25vw 65vw 1fr;
    grid-template-rows: auto;

    /*column-gap: var(--margen);
    row-gap: var(--margen);*/

    grid-template-areas:
        ". contenidoCabecera .";
}

nav {
    display: grid;
    grid-template-columns: 25vw 65vw 1fr;
    grid-template-rows: auto;

    /*column-gap: var(--margen);
    row-gap: var(--margen);*/

    grid-template-areas:
        ". contenidoNav .";
}

main {
    display: grid;
    grid-template-columns: 25vw 65vw 1fr;
    grid-template-rows: auto;

    /*column-gap: var(--margen);
    row-gap: var(--margen);*/

    grid-template-areas:
        "descripcion principal ."
        ". bienvenida .";
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: auto;

    /*column-gap: var(--margen);
    row-gap: var(--margen);*/

    grid-template-areas:
        "izquierdaPie imagenPie derechaPie";
}